@use "../../styles/variables" as *;
.container-charter-stack {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.header-charter-stack {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $focus-gray-border;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}
.header-charter-stack:hover {
  transform: scale(1.05);
  box-shadow: $subtle-shadow-dark;
}

.project-icon {
  height: 20px;
  width: 20px;
}
@media (max-width: 768px) {
  .container-charter-stack {
    justify-content: end;
  }
  .header-charter-stack {
    padding: 6px 12px;
  }
  .header-charter-stack p {
    font-size: 0.9rem !important;
  }
  .project-icon {
    width: 18px;
    height: 18px;
  }
}
// Table
.project-stack-table-wrapper {
  padding: 5px 8px;
  overflow-x: auto;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  margin-top: 20px;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}
.project-stack-table-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.project-stack-table-wrapper::-webkit-scrollbar-thumb,
.project-stack-table-wrapper::-webkit-scrollbar-track {
  border-radius: 6px;
}
.project-stack-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.project-stack-table th {
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.project-stack-table td {
  padding: 0.45rem;
  text-align: center;
}
.project-stack-note {
  margin-top: 10px;
  text-align: start;
}
@media (max-width: 768px) {
  .project-stack-table-wrapper {
    padding: 0.5rem;
  }
  .project-stack-table th,
  .project-stack-table td {
    padding: 0.5rem !important;
    font-size: 0.85rem !important;
  }
  .project-stack-note {
    font-size: 0.8rem !important;
  }
  .project-stack-table {
    min-width: 500px;
  }
}
@media (max-width: 480px) {
  .project-stack-table th,
  .project-stack-table td {
    padding: 0.4rem !important;
    font-size: 0.75rem !important;
  }
  .project-stack-note {
    font-size: 0.75rem !important;
    text-align: start;
  }
  .project-stack-table {
    min-width: 500px;
  }
}
// Document-Section 
.document-section {
  margin-top: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}
.document-summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.document-count {
  background-color: $green-bg;
  color: $pure-white;
  padding: 2px 10px;
  border-radius: 999px;
}
.document-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.document-buttons-I {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.document-buttons-I:hover {
  transform: scale(1.05);
  box-shadow: $subtle-shadow-dark;
}
.submit-stack-button {
  background-color: $red-light;
  color: $pure-white;
  padding: 8px 16px;
  border-radius: 6px;
}
.shuffle-btns-cotainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 14px;
}