@use "../../styles/variables" as *;
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-dark-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}
/* Hide vertical scrollbar  */
.modal-overlay {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-overlay::-webkit-scrollbar {
  display: none;
}
.modal-table {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: thin;
}
.modal-table::-webkit-scrollbar-track {
  border-radius: 10px;
}
.modal-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.modal-table::-webkit-scrollbar-thumb:hover {
  background-color: $deep-jungle-green;
  border-radius: 10px;
}

/* Modal Content */
.modal-custom {
  color: $pure-white;
  width: 90%;
  max-width: 1200px;
  max-height: 80%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  background-color: $pure-white;
}

/* Close Button */
.modal-close-button {
  position: absolute;
  top: 2px;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.modal-header {
  border-radius: 20px 20px 0 0;
}
/* Modal Header */
.modal-header h2 {
  margin: 0;
  padding: 15px;
  color: $pure-white;
}
.modal-table {
  background-color: $white-light;
  padding: 20px;
  overflow-y: auto;
  max-height: calc(80% - 70px);
}
/* Table Styles */
.modal-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.modal-table th,
.modal-table td {
  padding: 10px;
  border: transparent;
}
.modal-table th {
  color: $pure-white;
  padding: 14px;
}
.modal-table td {
  background: $bg-teal-green;
  color: $pure-white;
}
.supervision {
  display: inline-block;
  color: $white-muted;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .modal-custom {
    width: 90%;
  }

  .modal-header h2 {
    font-size: 1.2rem;
  }
   .modal-table {
    padding: 8px;
  }
  .modal-table table {
    width: 100%;
    overflow-x: auto;
  }
  .modal-table th,
  .modal-table td {
    font-size: 0.6rem;
  }
  .modal-close-button {
    position: absolute;
    top: 4px;
    left: 7px;
  }
}