@use "../../styles/variables" as *;
.article-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $deep-ink;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.article-modal-content {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 70vh;
  text-align: center;
  position: relative;
  transform: translateY(-50px);
  opacity: 0;
  animation: slideIn 0.3s ease-in-out forwards;
  overflow-y: auto;
  max-height: 70vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.article-modal-content::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.article-modal-image {
  width: 100%;
  max-width: 700px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  align-self: center;
  margin-top: 10px;
}
.article-modal-description {
  margin-top: 10px;
}
.article-close-btn {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.article-close-btn:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
@media (max-width: 768px) {
  .article-modal-content {
    width: 80%;
    height: 60vh;
    max-height: 80vh;
    padding: 15px;
  }

  .article-modal-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .article-modal-description {
    font-size: 0.9rem;
    margin-top: 8px;
  }

  .article-modal-image {
    width: 100%;
    max-width: 250px;
    height: 180px;
  }

  .article-close-btn {
    font-size: 20px;
    top: 0px;
    left: 5px;
  }
}
@media (max-width: 480px) {
  .article-modal-content {
    width: 95%;
    max-height: 85vh;
    padding: 10px;
  }
  .article-modal-title {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .article-modal-description {
    font-size: 0.8rem;
  }
  .article-modal-image {
    max-width: 250px;
    height: 160px;
  }
  .article-close-btn {
    font-size: 20px;
    top: 0px;
    left: 4px;
  }
}