@use "../../styles/variables" as *;
.workflow-table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 350px;
  padding: 6px 10px;
  border-radius: 10px;
}
.workflow-table-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.workflow-table-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.workflow-table {
  width: 100%;
  border-collapse: collapse;
}
.cell-text {
  position: relative;
  display: inline-block;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.cell-text:hover::after {
  content: attr(data-fulltext);
  position: fixed;
  z-index: 9999;
  top: var(--tooltip-top);
  left: var(--tooltip-left);
  max-width: 300px;
  padding: 8px 10px;
  background: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  white-space: normal;
  word-break: break-word;
  transform: translate(0, 6px);
}

.workflow-table th {
  padding: 12px;
  text-align: start;
  position: sticky;
  top: 0;
  z-index: 2;
}
.workflow-table td {
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.workflow-table td:last-child div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon-td-I {
  cursor: pointer;
  color: $text-gray-green;
}
