@use "../../styles/variables" as *;
.main-container-event-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    transform: scale(0.99);
    box-shadow: $shadow-contrast-float;
    cursor: pointer;
  }
}
.container-event-card {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
  min-width: 348px;
}
.hallow-cont-event-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 30px;
  width: 30px;
}
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}