@use "sass:color";
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  text-align: right;
}
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

#root,
.App {
  min-height: 100vh;
  width: 100%;
  direction: rtl;
}

/* Global Styles */
:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}
.theme-toggle-button {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
  margin-top: 35px;
}
.theme-toggle-button svg {
  transition: opacity 0.3s ease, color 0.3s ease;
}

// Auth-Button
.auth-btn {
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
}
// Homepage-Button
.homepage-button {
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: $shadow-contrast-float;
    cursor: pointer;
    border: 1px solid $focus-gray-border;
  }
}
// Event-Button
.event-button {
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    transform: scale(0.99);
    box-shadow: $shadow-contrast-float;
    cursor: pointer;
    border: 1px solid $gray-hover;
  }
  &:active {
    transform: scale(0.68);
  }
}
// Modal-Buttons used in modals for "save" and "cancel"
.cancel-button,
.save-button {
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.2rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}
// Add-Modal-Button used in  header to get modal for "add new data" or "existing data"
.add-modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .add-modal-button {
    width: 100%;
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
// query-btn used for search, filter
.query-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
// Common-CSS 
// Risk-Modal, Issue-Modal, Action-Modal, Stake-Modal
.layout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-dark-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.layout-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 1440px;
  height: 70vh;
  max-width: 1440px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.layout-container::-webkit-scrollbar {
  display: none;
}

/* Header */
.layout-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 10px 10px 0 0;
}
.layout-header-actions {
  display: flex;
  gap: 10px;
}
.layout-close-btn {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}

/* Body grid */
.layout-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  align-items: start;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.layout-grid::-webkit-scrollbar {
  display: none;
}

.layout-field {
  display: flex;
  flex-direction: column;
  text-align: right;
  grid-column: span 3;
}

.labels-div label {
  margin-bottom: 8px;
  font-weight: 500;
}

.layout-grid input,
.layout-grid textarea,
.layout-field select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: $pure-white;
  color: $text-black-light;
}

.layout-grid textarea {
  grid-column: span 6;
  min-height: 80px;
  resize: vertical;
}

.layout-field input[disabled] {
  grid-column: span 6;
  cursor: not-allowed;
}

.layout-field input[type="number"],
.layout-field input[type="date"],
.layout-field select {
  grid-column: span 3;
}

.layout-field span {
  color: $red-light;
  font-size: 13px;
  margin-top: 3px;
  display: block;
}

.layout-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .layout-container {
  width: 90%;
  }
  .layout-grid {
    grid-template-columns: 1fr;
  }
  .layout-header-actions {
    display: flex;
    gap: 5px;
  }
  .layout-field {
    grid-column: span 6;
    margin-bottom: 15px;
  }
}

// Common css for Project-Charter, Project-Plan, Project-Closure, Change-Request 
.main-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 10px 20px;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 12px;
  overflow: hidden;
}
.container-progress-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 2px;
}
.header-project-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  width: 100%;
}
.header-icon {
  height: 30px;
  width: 30px;
}
.top-corner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.progress-bar-wrapper {
  width: 100%;
  height: 6px;
  position: relative;
  border-radius: 12px;
}
.progress-bar-fill {
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 2px;
}
.main-container-tab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 7px 3px;
  border-radius: 8px;
  gap: 7px;
}
.tab-i {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 7px;
}
.tab-i.active,
.tab-i.active-tab {
  border-radius: 7px;
}
.tab-content {
  width: 100%;
}
@media (max-width: 768px) {
  .main-container-tab-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 7px;
  }

  .tab-i {
    flex: 1 1 45%;
    text-align: center;
    border: 1px solid $warm-gray-border;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
  }
}

// CSS for Project-Charter-Risk, Project-Plan-Risks, Communication-Plan, StakeHolders
.ui-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.ui-header-action {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $focus-gray-border;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}
.ui-header-action:hover {
  transform: scale(1.05);
  box-shadow: $subtle-shadow-dark;
}

.ui-icon-sm {
  height: 20px;
  width: 20px;
}
// Table  
// Also used this table-class in Previous-Change Component
.ui-table-container {
  padding: 5px 8px;
  overflow-x: auto;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}
.ui-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.ui-table-container::-webkit-scrollbar-thumb,
.ui-table-container::-webkit-scrollbar-track {
  border-radius: 6px;
}

.ui-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}
.ui-table th {
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.ui-table td {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .ui-header-container {
    justify-content: end;
  }
 .ui-header-action {
    padding: 6px 12px;
  }
  .ui-header-action p {
    font-size: 0.9rem !important;
  }
 .ui-icon-sm {
    width: 18px;
    height: 18px;
  }
  .ui-table th,
  .ui-table td {
    font-size: 0.85rem !important;
    padding: 8px;
  }
 .ui-table {
    min-width: 500px;
  }
}
// Modal
.ui-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.ui-modal {
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
  position: relative;
  animation: addrisk-fadeInUp 0.3s ease;
}
@keyframes addrisk-fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ui-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.ui-modal-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ui-modal-close-btn {
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  top: -10px;
  left: -9px;
  position: absolute;
}
.ui-modal-body {
  padding: 10px;
}
.ui-modal-body label {
  display: block;
  text-align: start;
}
.ui-modal-body textarea,
.ui-modal-body input {
  width: 100%;
  background-color: $pure-white;
  color: $text-black-light;
  padding: 4px;
  border: 1px solid $focus-gray-border;
  border-radius: 5px;
  margin-top: 5px;
  align-items: center;
  outline: none;
}
.ui-modal-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.ui-modal-row label {
  flex: 1;
}
.ui-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
}
@keyframes addrisk-fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .ui-modal {
    width: 95%;
    max-width: 95%;
  }
 .ui-modal-header h3 {
    font-size: 0.95rem !important;
    text-align: left;
  }
 .ui-modal-body {
    padding: 8px;
  }
  .ui-modal-body label {
    font-size: 0.95rem !important;
  }
  .ui-modal-body textarea,
  .ui-modal-body input {
    font-size: 0.9rem !important;
    padding: 6px;
  }
 .ui-modal-row {
    flex-direction: column;
  }
}
.shuffle-btns-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 14px;
}
.submit-stack-button {
  background-color: $red-light;
  color: $pure-white;
  padding: 8px 16px;
  border-radius: 6px;
}

