@use "sass:color";
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  text-align: right;
}
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  direction: rtl; 
}

/* Global Styles */
:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}
.theme-toggle-button {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
  margin-top: 35px;
}
.theme-toggle-button svg {
  transition: opacity 0.3s ease, color 0.3s ease;
}