@use "../../styles/variables" as *;
.boq-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.boq-modal-content {
  width: 90%;
  max-width: 1020px;
  max-height: 90vh;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.boq-modal-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 10px 10px 0 0;
}
.second-header-boq-modal {
  display: flex;
  gap: 10px;
}
.boq-close-btn {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}
.table-BOQ {
  width: 100%;
  overflow-x: hidden;
  padding: 3px 7px;
  max-height: 400px;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}
.table-BOQ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.table-BOQ::-webkit-scrollbar-thumb,
.table-BOQ::-webkit-scrollbar-track {
  border-radius: 6px;
}
.boq-modal-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  min-width: 600px;
}
.boq-modal-table th {
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.boq-modal-table td {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .boq-modal-table th,
  .boq-modal-table td {
    font-size: 0.85rem;
    padding: 8px;
  }
  .table-BOQ {
    overflow-x: auto;
    height: 95vh;
    padding: 3px 7px;
  }
}
