@use "../../styles/variables" as *;
.modalV-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-dark-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalV-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 1440px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: $shadow-deep-elevated;
}
.modalV-content {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalV-close {
  position: absolute;
  top: -0.7%;
  left: 2%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.content-modal-V {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 20px;
  overflow: hidden;
}
.event-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(75vh - 60px);
  overflow-y: auto;
}
.event-list-container::-webkit-scrollbar {
  display: none;
}