@use "../../styles/variables" as *;
.main-container-section-V {
  display: flex;
  flex-direction: column;
}

.first-container-section-V {
  display: flex;
  gap: 10px;
}

.second-container-section-V {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 17px 12px;
  border-radius: 20px;
  margin-top: 10px;
}
.first-row-section-V {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-row-section-V {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.chart-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
@media (max-width: 768px) {
  .main-container-section-V {
    display: flex;
    flex-direction: column;
  }

  .first-container-section-V {
    display: flex;
    gap: 10px;
  }

  .second-container-section-V {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .second-container-section-V {
    flex-direction: column;
    gap: 20px;
  }
  .main-container-card-V {
    width: 100%;
  }
}