@use "../../styles/variables" as *;
.main-container-objective-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 10px;
  background-color: $white-soft;
  border-radius: 10px;
  min-width: 100px;
  max-width: 120px;
  margin-top: 20px;
  box-shadow: $shadow-low-opacity;
  text-align: center;
  word-wrap: break-word;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-heavy-lift;
  }
}
.objective-para-i,
.sc-para-i {
  color: $vintage-gold;
}
.objective-para-ii {
  color: $text-black-light;
}