@use "../../styles/variables" as *;
.main-container-project-manager {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 10px 20px;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 12px;
  overflow: hidden;
}
.header-container-project-manager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 6px;
}
.header-project-manager {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-icon {
  height: 30px;
  width: 30px;
}
.subheader-project-manager {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $focus-gray-border;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}
.subheader-project-manager:hover {
  transform: scale(1.05);
  box-shadow: $subtle-shadow-dark;
}

.second-icon {
  height: 20px;
  width: 20px;
}
@media (max-width: 768px) {
  .subheader-project-manager {
    padding: 6px 12px;
  }
  .subheader-project-manager p {
    font-size: 0.9rem !important;
  }
  .second-icon {
    width: 18px;
    height: 18px;
  }
}
.second-header-project-center {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border-radius: 6px;
  background: $white-gradient;
}
.length-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background-color: $bg-teal-green;
}
.length-count-container span {
  color: $pure-white;
}
/* Table section */
.container-table-project-manager {
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.project-manager-table-container {
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px 10px 5px 10px;
  width: 100%;
  max-height: 600px;
  box-sizing: border-box;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}
.project-manager-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.project-manager-table-container::-webkit-scrollbar-thumb,
.project-manager-table-container::-webkit-scrollbar-track {
  border-radius: 6px;
}
.project-manager-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}
.project-manager-table th {
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.project-manager-table td {
  padding: 12px;
  text-align: center;
}
.project-manager-table td .edit-icon {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
  color: $blue-hover-deep;
}
.project-manager-table td .edit-icon:hover {
  color: $blue-dark;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .header-container-project-manager,
  .second-header-project-center {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .project-manager-table {
    min-width: 100%;
  }
  .project-manager-table th,
  .project-manager-table td {
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .header-container-project-manager {
    padding: 10px 15px;
  }
  .second-header-project-center {
    padding: 6px 15px;
  }
  .project-manager-table th,
  .project-manager-table td {
    font-size: 0.75rem !important;
    padding: 6px 8px;
  }
}