@use "../../styles/variables" as *;
.closure-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.closure-header-action {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $focus-gray-border;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}
.closure-header-action:hover {
  transform: scale(1.05);
  box-shadow: $subtle-shadow-dark;
}

.closure-icon {
  height: 20px;
  width: 20px;
}
// Table
.closure-table-container {
  padding: 5px 8px;
  overflow-x: auto;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}
.closure-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.closure-table-container::-webkit-scrollbar-thumb,
.closure-table-container::-webkit-scrollbar-track {
  border-radius: 6px;
}

.closure-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}
.closure-table th {
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.closure-table td {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .closure-header-container {
    justify-content: end;
  }
  .closure-header-action {
    padding: 6px 12px;
  }
  .closure-header-action p {
    font-size: 0.9rem !important;
  }
  .closure-icon {
    width: 18px;
    height: 18px;
  }
  .closure-table th,
  .closure-table td {
    font-size: 0.85rem !important;
    padding: 8px;
  }
  .closure-table {
    min-width: 500px;
  }
}
// Modal
.closure-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.closure-modal {
  width: 90%;
  max-width: 1000px;
  border-radius: 8px;
  position: relative;
  animation: charter-fadeInUp 0.3s ease;
}
@keyframes charter-fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.closure-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.closure-modal-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.closure-modal-close-btn {
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  top: -10px;
  left: -9px;
  position: absolute;
}
.closure-modal-body {
  padding: 10px;
}
.closure-modal-body label {
  display: block;
  text-align: start;
}
.closure-modal-body textarea,
.closure-modal-body input {
  width: 100%;
  background-color: $pure-white;
  color: $text-black-light;
  padding: 4px;
  border: 1px solid $focus-gray-border;
  border-radius: 5px;
  margin-top: 5px;
  align-items: center;
  outline: none;
}
@media (max-width: 768px) {
  .closure-modal {
    width: 95%;
    max-width: 95%;
  }
  .closure-modal-header h3 {
    font-size: 0.95rem !important;
    text-align: left;
  }
  .closure-modal-body {
    padding: 8px;
  }
  .closure-modal-body label {
    font-size: 0.95rem !important;
  }
  .closure-modal-body textarea,
  .closure-modal-body input {
    font-size: 0.9rem !important;
    padding: 6px;
  }
}
// Form
.closure-grd-I,
.closure-grd-II,
.closure-grd-III,
.closure-grd-IV {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}
.closure-grd-I {
  grid-template-columns: 1fr 3fr;
}

.closure-grd-II,
.closure-grd-III {
  grid-template-columns: 2fr 2fr;
}

.closure-grd-IV {
  grid-template-columns: 1fr;
  max-width: 300px;
}
// Responsive
@media (max-width: 768px) {
  .closure-grd-I,
  .closure-grd-II,
  .closure-grd-III,
  .closure-grd-IV {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
.closure-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
}
