@use "../../styles/variables" as *;
.LinkModal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.LinkModal-content {
  border-radius: 8px;
  width: 400px;
  overflow: hidden;
}
.addlink-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.sub-addlink-modal-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addlink-modal-close-btn {
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  top: -10px;
  left: -9px;
  position: absolute;
}
@media (max-width: 768px) {
  .addlink-modal-header h3 {
    font-size: 0.95rem !important;
    text-align: left;
  }
}
.LinkModal-file-wrapper {
  margin: 10px;
}
.LinkModal-file-input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid $neutral-gray-border;
  border-radius: 10px;
  color: $dark-gray-center;
  background-color: $pure-white;
  appearance: auto;
}
.LinkModal-file-input::-webkit-file-upload-button {
  cursor: pointer;
}
.LinkModal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  align-items: center;
}
@media (max-width: 468px) {
  .LinkModal-content,
  .add-document-modal-box {
    width: 90%;
  }
}