@use "../../styles/variables" as *; 
.modal-overlay-dv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $deep-ink;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.modal-content-dv {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 70vh;
  text-align: center;
  position: relative;
  transform: translateY(-50px);
  opacity: 0;
  animation: slideIn 0.3s ease-in-out forwards;
}
.modal-content-dv {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.modal-content-dv::-webkit-scrollbar {
  display: none;
}
.close-icon-dv {
  position: absolute;
  top: 1px;
  left: 1px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s;
}
.close-icon-dv:hover {
  transform: scale(1.2);
}
.modal-title-dv {
  color: $pure-white;
}
.file-preview-dv {
  width: 100%;
  height: 60vh;
  max-height: 80vh;
  margin-top: 20px;
  border-radius: 5px;
}
.preview-unavailable-dv {
  color: $pure-white;
  margin-top: 10px;
}
.download-icon-dv {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  padding: 10px 15px;
  background: $pure-white;
  color: $blue-bg;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
.download-icon-dv:hover {
  background: $gray-soft-light;
}
/* Mobile Responsiveness */
@media (max-width: 768px) {
  .modal-content-dv {
    width: 85%;
    padding: 10px;
  }
  .modal-title-dv {
    font-size: 0.925rem;
    line-height: 1rem;
  }
  .file-preview-dv {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .modal-content-dv {
    width: 90%;
    padding: 10px;
    height: 60vh;
  }
  .file-preview-dv {
    width: 100%;
    height: 50vh;
    max-height: 70vh;
    margin-top: 20px;
    border-radius: 5px;
  }
  .modal-title-dv {
    font-size: 0.925rem;
    line-height: 1rem;
  }
  .close-icon-dv {
    font-size: 20px;
  }
  .download-icon-dv {
    font-size: 13px;
    padding: 8px 10px;
  }
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}