.main-container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 65px;
  overflow: hidden;
}

.logo-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.center-container-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.first-container-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile-container-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 33px;
  border-radius: 100px;
  padding: 10px;
}
@media (max-width: 768px) {
  .main-container-navbar {
    padding: 10px 20px;
    width: 100%;
  }
  .theme-toggle-button {
    margin-top: 0;
  }
  .center-container-navbar,
  .name-span {
    display: none;
  }
  .logo-navbar {
    justify-content: center;
  }
}
