@use "../../styles/variables" as *;
.data-table-container {
  width: 100%;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
   padding: 5px 8px;
   border-radius: 6px;
}
.data-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.data-table-container::-webkit-scrollbar-thumb,
.data-table-container::-webkit-scrollbar-track {
  border-radius: 6px;
}
/* Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  direction: rtl;
  min-width: 600px;
  table-layout: fixed;
}
.data-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Table Rows */
.data-table tbody tr:last-child {
  border-bottom: none;
}

/* Table Headers & Cells */
.data-table th,
.data-table td {
  padding: 10px;
  word-wrap: break-word;
  white-space: normal;
  vertical-align: middle;
}


.data-table th {
  font-weight: bold;
}

/* Icons */
.data-table-icon {
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.data-table-icon-delete {
  color: $deep-crimson;
}

.data-table-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.15);
}

/* Actions Column */
.data-table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .data-table th,
  .data-table td {
    padding: 8px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .data-table-container {
    overflow-x: auto;
    overflow-y: auto;
  }
  .data-table {
    min-width: 480px;
  }
  .data-table th,
  .data-table td {
    padding: 6px;
    font-size: 12px;
  }
}
