@use "../../styles/variables" as *;
.modalIV-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-dark-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalIV-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 1440px;
  box-sizing: border-box;
  box-shadow: $shadow-deep-elevated;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modalIV-overlay::-webkit-scrollbar {
  display: none;
}
.modalIV-content {
  padding: 8px 10px;
  display: flex;
}
.modalIV-close {
  position: absolute;
  top: -1%;
  left: 2%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.content-modal-IV {
  display: flex;
  padding: 0px 10px;
  gap: 20px;
}
.ist-content-ModalIV {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.hallow-cont-modalIV {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-content-ModalIV {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .modalIV-overlay,
  .modalV-overlay {
    min-width: 95%;
    height: 50vh;
    gap: 20px;
  }
}