@use "../../styles/variables" as *;
.main-container-section-I {
  display: flex;
  flex-direction: column;
}
.first-container-section-I{
  display: flex;
  gap: 10px;
}
.second-container-section-I {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 66px;
  padding-bottom: 28px;
  margin-top: 10px;
  gap: 20px;
}
@media (max-width: 768px) {
  .main-container-section-I {
    display: flex;
    flex-direction: column;
  }
  .first-container-section-I {
    display: flex;
    gap: 10px;
  }

  .second-container-section-I {
    padding: 10px;
  }
}