@use "../../styles/variables" as *;
.main-container-section-IV {
  display: flex;
  flex-direction: column;
}

.first-container-section-IV{
  display: flex;
  gap: 10px;
}
.second-container-section-IV {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 17px 30px;
  border-radius: 20px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .main-container-section-IV {
    display: flex;
    flex-direction: column;
  }
  .first-container-section-IV {
    display: flex;
    gap: 10px;
  }
  .second-container-section-IV {
    padding: 10px;
  }
}