@use "../../styles/variables" as *;
.main-container-Data-II {
  padding: 0px 2.5px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.section-i-data-II {
  padding: 10px;
  border-radius: 8px;
  box-shadow: $gentle-shadow;
  align-items: center;
}
.sub-section-i-data-II {
  display: flex;
  flex-direction: column;
}
.header-ist-section-i-data-II {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0px;
}
.content-container-Data-II {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.sub-content-data-II {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .sub-content-data-II {
    flex-direction: column;
    gap: 10px;
  }
}
.heatmap-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  border-radius: 10px;
  position: relative;
}
.y-axis-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  position: absolute;
  left: -18px;
  top: 40%;
  transform: translateY(-50%) rotate(180deg);
}
.x-axis-title {
  text-align: center;
  width: 100%;
}
/* Heatmap grid */
.heatmap-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 4px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .heatmap-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .y-axis-title,
  .x-axis-title {
    font-size: 0.825rem !important;
  }
}
.heatmap-grid > div {
  border: 1px solid $pure-white;
}
/* Grid for second content data II */
.grid-container-second-content-data-II {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .grid-container-second-content-data-II {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
  }
}
.hr-tag {
  width: 87.5%;
  margin: auto;
  border: none;
  height: 1px;
  margin-top: 1px;
}
.paragraph-content-grid {
  margin-top: 10px;
}

.paragraph-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px;
  padding: 0px 90px;
}
@media (max-width: 768px) {
  .paragraph-grid-container {
    padding: 0px 35px;
  }
}

.paragraph-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.circle {
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
}
.paragraph-item p {
  margin: 0;
  text-align: justify;
}
@media (max-width: 768px) {
  .paragraph-grid-container {
    grid-template-columns: 1fr;
  }
}
.para-con-grid {
  padding: 0px 90px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .para-con-grid {
    padding: 0px 35px;
    padding-bottom: 10px;
  }
}