@use "../../styles/variables" as *;
.main-container-approvals-page {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 10px 20px;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 12px;
  overflow: hidden;
}
.header-approvals-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container-search-length {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border-radius: 5px;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-box {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: $pure-white;
    width: 100%;
    max-width: 500px;
    transition: all 0.3s ease;

    .search-input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 14px;
      padding: 6px;
      background-color: transparent;
    }

    .search-icon {
      font-size: 20px;
      color: $gray-deep;
      cursor: pointer;
    }
  }
}
.search-span {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background-color: $deep-jungle-green;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  color: $pure-white;
}
.btn-approvals-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn-approvals {
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
// SideBar-Overlay
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.sidebar-overlay.active {
  opacity: 1;
  z-index: 999;
}
// Approval-Slider
.sidebar-table-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  max-width: 1240px;
  background-color: $pure-white;
  z-index: 1000;
  overflow-y: auto;
}
.sidebar-table-panel.active {
  transform: translateX(0);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.close-sidebar-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
