@use "../../styles/variables" as *;
.home-page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 10px;
  // padding: 10px 20px;
  padding: 10px 3px;
}

/* First Row */
.header-details {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 13px;
  border-radius: 30px;
}
.another-header-scroll-container {
  grid-column: 2 / 4;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 30px;
}
.container-scroll-bar {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  padding: 6px;
  cursor: pointer;
}
// Animation
@keyframes scroll {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.scroll-container {
  display: flex;
  animation: scroll 46s linear infinite;
  animation-timing-function: linear;
  width: max-content;
  gap: 30px;
}
.container-scroll-bar:hover .scroll-container {
  animation-play-state: paused;
}
/* Second Row */
.section-1 {
  grid-column: 1 / 2;
  border-radius: 20px;
}
.section-2 {
  grid-column: 2 / 4;
  border-radius: 20px;
}
/* Third Row */
.section-3 {
  grid-column: 1 / span 1;
  border-radius: 20px;
}
.section-4 {
  grid-column: 2 / span 1;
  border-radius: 20px;
}
.section-5 {
  grid-column: 3 / span 1;
  border-radius: 20px;
}
.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  padding: 20px;
}
@media (max-width: 768px) {
  .home-page-grid,
  .home-page-grid-project {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
    // padding: 10px 10px;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .another-header-scroll-container {
    grid-column: 1 / span 1;
    padding: 15px;
  }

  .another-header-scroll-container {
    padding: 5px;
  }
  .header-details p {
    padding: 4px 0px;
  }
}
@media (min-width: 1443px) {
  .footer-hp {
    padding: 24px 7px;
  }
}
