@use "../../styles/variables" as *;
.main-article-details-container {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 10px 20px;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  align-items: center;
}
// @media (min-width: 1442px) {
//   .main-contaier-article-center {
//     padding: 10px 20px;
//   }
// }
.back-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.back-button:hover {
  transform: scale(1.2);
}
/* Title */
.article-details-image {
  width: 80%;
  max-width: 800px;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.article-description {
  text-align: justify;
  padding: 0 30px;
  max-width: 900px;
  width: 100%;
}
@media (max-width: 768px) {
  .main-article-details-container {
    padding: 15px;
  }
  .article-title {
    font-size: 1.5rem;
  }
  .article-details-image {
    width: 100%;
    max-height: 350px;
  }
  .article-description {
    font-size: 1rem;
    padding: 0 15px;
  }
}