@use "../../styles/variables" as *;
.main-container-schedule-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 10px;
  // padding: 10px 20px;
  padding: 10px 3px;
}
.header-schedule-center {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
}
@media (max-width: 768px) {
  .header-schedule-center {
    flex-direction: column;
    padding: 10px;
    gap: 14px;
  }
}
.first-header-schedule-center {
  display: flex;
  align-items: center;
  gap: 20px;
}
.first-header-schedule-center p {
  display: flex;
  align-items: center;
}
/* Responsive Styles*/
@media (max-width: 768px) {
  .first-header-schedule-center {
    display: flex;
    align-items: center;
  }
  .first-header-schedule-center p {
    font-size: 1rem !important;
  }
  .react-icon {
    margin-bottom: 20px;
  }
}
.container-search-length {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border-radius: 5px;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-box {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: $pure-white;
    width: 100%;
    max-width: 500px;
    transition: all 0.3s ease;

    .search-input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 14px;
      padding: 6px;
      background-color: transparent;
    }

    .search-icon {
      font-size: 20px;
      color: $gray-deep;
      cursor: pointer;
    }
  }
}
.search-span {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background-color: $deep-jungle-green;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  color: $pure-white;
}
.filter-container-sc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-container-sc {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .filter-container-sc {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.schedule-buttton-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
// Second-Section
.section-schedule-center {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
// Dependency-Table
.dependency-table-container {
  padding: 5px 8px;
  overflow-x: auto;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
}
.dependency-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dependency-table-container::-webkit-scrollbar-thumb,
.dependency-table-container::-webkit-scrollbar-track {
  border-radius: 6px;
}

.dependency-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}
.dependency-table th {
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.dependency-table td {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dependency-table td,
.dependency-table th{
  word-wrap: break-word;
  white-space: normal;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .dependency-table th,
  .dependency-table td {
    font-size: 0.85rem;
    padding: 8px;
  }
  .dependency-table {
    min-width: 500px;
  }
}

