@use "../../styles/variables" as *;
.risk-chat-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-dark-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.risk-chat-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1440px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.risk-chat-modal-header {
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.second-header-chatbox-modal {
  display: flex;
  gap: 10px;
}
.risk-chat-input-container {
  padding: 10px;
}
.chatbox-close-btn {
  position: absolute;
  top: -11%;
  left: -0.5%;
  border: none;
  font-size: 19px;
  cursor: pointer;
  background-color: transparent;
}
.risk-chat-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid $neutral-gray-border;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  background-color: $pure-white;
  color: $text-black-light;
}
.risk-chat-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 15px;
}

@media (max-width: 768px) {
  .risk-chat-modal-content {
    width: 90%;
  }
  .chatbox-close-btn {
    position: absolute;
    left: -8px;
    top: -7px;;
  }
  .second-header-chatbox-modal {
    display: flex;
    gap: 5px;
  }
  .second-header-chatbox-modal p {
    font-size: 0.925rem !important;
  }
  .chatbox-close-btn {
    font-size: 20px !important;
  }
  .risk-chat-textarea {
    height: 80px;
  }
}