@use "../../styles/variables" as *;
.modalIII-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-dark-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalIII-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1440px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: $shadow-deep-elevated;
}
.modalIII-overlay::-webkit-scrollbar {
  display: none;
}
.modalIII-content {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: sticky;
  z-index: 3;
  top: 0;
}
.modalIII-content h2 {
  position: sticky;
  z-index: 2;
  top: 0;
}
// @media screen and (max-width: 768px) {
//   .modalIII-content h2 {
//     font-weight: 700 !important;
//     font-size: 0.925rem !important;
//     line-height: 1.5rem !important;
//   }
// }
.modalIII-close {
  position: absolute;
  top: 0%;
  left: 1%;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.content-modal-III {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 10px;
}
/* Tables */
.tables-left,
.tables-right {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.table-container {
  position: relative;
  padding: 10px;
  border-radius: 10px;
}
.stats-table {
  border-collapse: collapse;
}
.stats-table th,
.stats-table td {
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .modalIII-overlay {
    min-width: 95%;
    height: 80vh;
    gap: 20px;
    padding-bottom: 12px;
  }

  .content-modal-III {
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
  .tables-left,
  .tables-right {
    width: 100%;
    align-items: center;
  }
  .tables-left,
  .tables-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .stats-table {
    width: 90%;
    max-width: 300px;
  }
}