@use "../../styles/variables" as *;
.table-wrapper {
  width: 100%;
  max-height: 530px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.table-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.table-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
}
.workflow-table-wrapper {
  width: 100%;
  border-collapse: collapse;
}
.workflow-table-wrapper th {
  padding: 12px;
  text-align: start;
  position: sticky;
  top: 0;
  z-index: 2;
  white-space: nowrap;
}
.workflow-table-wrapper td {
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
}
/* Responsive improvements */
@media (max-width: 768px) {
  .workflow-table-wrapper th,
  .workflow-table-wrapper td {
    padding: 8px;
    font-size: 0.85rem;
  }
}
