@use "../../styles/variables" as *;
.container-request-stake-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.header-request-stake-holder {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $focus-gray-border;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}
.header-request-stake-holder:hover {
  transform: scale(1.05);
  box-shadow: $subtle-shadow-dark;
}

.stake-holder-icon {
  height: 20px;
  width: 20px;
}
@media (max-width: 768px) {
  .container-request-stake-holder {
    justify-content: end;
  }
  .header-request-stake-holder {
    padding: 6px 12px;
  }
  .header-request-stake-holder p {
    font-size: 0.9rem !important;
  }
  .stake-holder-icon {
    width: 18px;
    height: 18px;
  }
}