@use "../../styles/variables" as *;
.main-container-data-center {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3px;
  padding: 10px 3px;
  // padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  // @media (min-width: 1442px) {
  //   padding: 10px 0px;
  // }

  @media (max-width: 768px) {
    padding: 10px 20px;
    margin-top: 5px;
  }
}
.header-container-data-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-details-data-center {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  padding: 5px 0px;
}
.container-links-data-center {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
}

.container-links-data-center p {
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}
.container-links-data-center p:hover {
  transform: translateY(-2px);
}
.container-links-data-center p:hover::after {
  display: none;
}
.container-links-data-center p.active {
  font-weight: 700;
}
.container-links-data-center p.active::after {
  display: none;
}
.data-display-container {
  width: 100%;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .container-links-data-center {
    justify-content: space-between;
    gap: 10px;
  }
  .container-links-data-center p {
    font-size: 0.825rem !important;
    font-weight: 600 !important;
    padding: 5px;
    flex: 1 1 45%;
  }
}
//Floating-Container
.floating-container {
  position: fixed;
  bottom: 0px;
  left: 30px;
  z-index: 1000;
}
.floating-icon {
  border-radius: 50%;
  padding: 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.2s;
}

.floating-icon:hover {
  transform: scale(1.1);
}

.floating-card-list {
  position: absolute;
  bottom: 60px;
  left: 20px;
  border-radius: 8px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  max-width: 1000px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .floating-card-list {
    grid-template-columns: 1fr;
    bottom: 20px;
    left: 10px;
    padding: 8px;
    max-height: 700px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 480px) {
  .floating-card-list {
    grid-template-columns: 1fr;
    max-height: 600px;
  }
}