@use "../../styles/variables" as *;
.main-container-video-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 15px 10px;
  border-radius: 10px;
  width: 100%;
}
.main-container-video-card p {
  align-self: flex-start;
  margin: 0;
}
.video-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.details-btn-vc {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  color: $pure-white;
  cursor: pointer;
  border-radius: 7px;
}
.video {
  width: 100%;
  border-radius: 10px;
}
.video-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $pure-white;
  background: $deep-ink;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.video-icon {
  background-color: $text-black-light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
// Video-Modal SCSS
.video-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: modalAppear 0.4s ease-out forwards;
  z-index: 1000;
  box-shadow: $shadow-deep-elevated;
}

.video-modal-content {
  border-radius: 5px;
  position: relative;
  max-width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid $whisper-white;
}
.video-modal-player {
  width: 100%;
  height: auto;
  max-height: 75vh;
  border-radius: 5px;
}
.video-modal-close {
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  padding: 4px;
  font-size: 0.725rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.video-modal-close:hover {
  transform: scale(1.1);
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .video-modal-content {
    max-width: 90%;
    max-height: 85vh;
  }
  .video-modal-player {
    max-height: 70vh;
  }
  .video-modal-close {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .video-modal-content {
    max-width: 90%;
    max-height: 80vh;
    padding: 17px;
  }
  .video-modal-player {
    max-height: 65vh;
  }
  .video-modal-close {
    font-size: 9px;
  }
}