@use "../../styles/variables" as *;
.project-closure-form-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.project-closure-form-container {
  width: 90%;
  max-width: 900px;
  border-radius: 8px;
  position: relative;
}
.project-closure-form-header {
  display: flex;
  align-items: center;
  padding: 16px 10px;
  border-radius: 6px 6px 0px 0px;
  position: relative;
}

.close-button {
  background: transparent;
  position: absolute;
  top: -10px;
  left: -10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.project-closure-form-content .form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  padding: 15px 10px;
}
.form-group {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin-bottom: 8px;
  text-align: start;
}
.form-group input,
.form-group select {
  padding: 8px;
  border-radius: 5px;
  background-color: $pure-white;
  color: $text-black-light;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.cancel-button,
.save-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Responsive design */
@media (min-width: 768px) {
  .form-group {
    flex: 1 1 45%;
  }
}
@media (min-width: 1024px) {
  .project-closure-form-container {
    width: 800px;
  }
}